<title>MD5-scribe</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/vendor/htmx.min.js"></script>

<body>
  {% block content %}{% endblock %}

  <script src="/static/js/recorder.js"></script>
  <script>
    document.body.addEventListener("htmx:beforeSwap", function (evt) {
      if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
      }
    });
  </script>
</body>
